<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/dashboard.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='/javascript/logout.js'></script>
    <script src='/javascript/schedule/main.js'></script>
    <script src='/javascript/getdashboardcontent.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.0/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.0.0-beta.1/locales-all.min.js"></script>

    <title>Document</title>
</head>
<body id="" onbeforeunload="document.body.style.opacity='0'" onload="document.body.style.opacity='1'">
  <header class="header">
    <div class="heyy">Salut! 👋</div>
    <div class="nav">
    <button id="eleve-btn" >Espace élève</button>
    <button class="logout"onclick="logout();">Se déconnecter</button>
    </div>
  </header>

    <div id="calendar"></div>
    <div id="grades">
      <div class="subject">
        <div class="subject-pres" style="display: flex;">
        <div class="subject-name">LOREM IPSUM</div>
        <div class="subject-avg">19.58</div>
      </div>
    </div>
    </div>
    </div>
  </body>
</html>