<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/dashboard.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='/javascript/logout.js'></script>
    <script src='/javascript/schedule/main.js'></script>
    <script src='/javascript/getdashboardcontent.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.0/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.0.0-beta.1/locales-all.min.js"></script>

    <title>LaCsi - dashboard</title>
</head>
<body id="" onbeforeunload="document.body.style.opacity='0'" onload="document.body.style.opacity='1'">
  <header class="header">
    <div class="heyy">Salut! 👋</div>
    <div class="nav">
    <button id="eleve-btn" >Espace élève</button>
    <button class="logout"onclick="logout();">Se déconnecter</button>
    </div>
  </header>
<main>
    <div id="calendar"></div>
    <div class="container">
    <div id="marks-container">
      <div id="btns-period">
        <div class="btns-period-select"><button type="button" title="Période précédente"id="btn-period-prv"><span class="fc-icon fc-icon-chevron-left"></span></button><button type="button" title="période suivante" id="btn-period-nxt"><span class="fc-icon fc-icon-chevron-right"></span></button></div>
        <button type="button" title="Période" id="btn-period-name" class="btn-period-name">Période en cours</button>
      </div>
      <div class="marks-table-container">
      <table id="marks-table" cellspacing="8px"></table></div>
    </div>
    <div id="homeworkcontainer"></div>
    </div>
</main>
  </body>
</html>