<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>La cité scolaire internationale de Lyon - lacsi.fr</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="connect">
      <img src="/images/logo.png" alt="La CSI Lyon" id="logo-main" />
      <form method="post" action="log">
        <input type="text" name="username" placeholder="identifiant" id="identifiant">
        <input type="password" name="password" placeholder="mot de passe" placeholder="password" id="password">
        <input type="submit" value="Se connecter sur laCSI!" id="educonnect">
      </form>
      <p>Fait par les élèves, pour les élèves ;)</p>
      <p>- Ou -</p>
      <a href="https://cas.ent.auvergnerhonealpes.fr/delegate/redirect/EDU"><button>Se connecter sur le site de la région -_-</button></a>
    </section>
    <section id="visitor">
     <!-- <h1>Découvrir la Cité Scolaire Internationale</h1>
      <nav class="visitor-nav">
        <div class="nav-ecole"><a href="#">L'école</a></div>
        <div class="nav-college"><a href="#">Le collège</a></div>
        <div class="nav-lycee"><a href="#">Le lycée</a></div>
        <div class="nav-sections"><a href="#">Les sections</a></div>
      </nav>-->
    </section>
  </body>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
    </style>
</html>
