body {
    background: #333;
    color: #eee
}
.fc-timegrid-event-harness, .fc-timegrid-event-harness-inset {
    left: 0% !important;
}
.fc-event-main div {
    color: #323;
    background-blend-mode: 70%;
    font-weight: bolder
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em
}
.heyy {
    font-size: xx-large;
    font-weight: bold;
}